{# code html des contacts du users #}

{# {% for contact in contacts %} #}
    {# {% for  s in sort  %}
            
        {% for contact in contacts %}
            {% set first_char = contact.fname|first %}
            {% if contact.fname|first == s %}
                <div class="sort-letter">
                    <p>{{ s|upper }}</p>
                    <span></span>
                </div>
                {% for c in contacts %}
                    {% if c.fname|first == s %}
                        <div class="contact">
                        <div class="contact-info">
                            <img src="./img/back.jpg" alt="{{c.fname}} {{ c.lname }}">
                            <p>{{c.fname}} {{ c.lname }}</p>
                        </div>
                        <div class="more">
                            <svg id="btn-dropdown" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M12 6.75a.75.75 0 110-1.5.75.75 0 010 1.5zM12 12.75a.75.75 0 110-1.5.75.75 0 010 1.5zM12 18.75a.75.75 0 110-1.5.75.75 0 010 1.5z" />
                            </svg>
                            <div id="dropdown" class="dropdown">
                                <div class="dropdown-item">
                                    <a href="#">Delete
                                        <i class="fa-solid fa-trash-can"></i>
                                    </a>
                                </div>
                                <div class="dropdown-item">
                                    <a href="#">Block
                                        <i class="fa-solid fa-ban"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div> 
                    {% endif %}
                {% endfor %}                                                                                                                                                                                 
            {% endif %}
        {% endfor %}
    {% endfor %} #}
{# {% endfor %} #}

{% for contact in contacts %}
            
    <div class="contact">
        <div class="contact-info">
            <img src="{{ vich_uploader_asset(contact, 'imageFile') }}" alt="{{contact.fname}} {{ contact.lname }}">
            <p>{{contact.fname }} {{ contact.lname }}</p>
        </div>
        <div class="more">
            <svg id="btn-dropdown" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 6.75a.75.75 0 110-1.5.75.75 0 010 1.5zM12 12.75a.75.75 0 110-1.5.75.75 0 010 1.5zM12 18.75a.75.75 0 110-1.5.75.75 0 010 1.5z" />
            </svg>
            <div id="dropdown" class="dropdown">
                <div class="dropdown-item">
                    <a href="#">Delete
                        <i class="fa-solid fa-trash-can"></i>
                    </a>
                </div>
                <div class="dropdown-item">
                    <a href="#">Block
                        <i class="fa-solid fa-ban"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>                                                                                                                                                                                  

{% endfor %}