<div class="chat-section">
    <div class="header">
        
        <div class="user-status">
            <div class="show-hide-arrow-chat">
                <i class="fa-solid fa-arrow-left"></i>
            </div>
            <div class="user-status-img">
                <img src="{{ vich_uploader_asset(user, 'imageFile') }}" alt="{{user.fname}} {{user.lname}}">
            </div>
            <div class="user-details">
                <h3>{{user.fname}} {{user.lname}}</h3>
                {% if user.status == true %}
                    <p class="active">Online</p>
                {% else %}
                    <p class="inactive">Offline</p>
                {% endif %}
            </div>
        </div>
        <div class="icons">
            <!-- <div class="video">
                <i class="fa-solid fa-video"></i>
            </div> -->
            <!-- <div class="phone">
                <i class="fa-solid fa-phone"></i>
            </div> -->
            <div class="more">
                <i class="fa-solid fa-circle-info" id="open-profile"></i>
            </div>
            <div id="modal-user">
                <div class="profile-back">
                    {% if user.backImg == '' %}
                        {% set img = "img/back.jpg" %}
                    {% else %}
                        {% set img = vich_uploader_asset(user, 'imageFile') %}
                    {% endif %}
                    <div class="content-back" style="background-image: url('{{ img }}');">
                        <div class="content">
                            <div id="close-profile">
                                <i class="fa-solid fa-xmark"></i>
                            </div>
                        </div>
                        <div class="profile-img">
                            <img src="{{ vich_uploader_asset(user, 'imageFile')}} " width="35" height="35" alt="{{user.fname}} {{user.lname}}">
                        </div>
                    </div>
                    
                    <div class="profile-desc">
                        <h2>{{user.fname}} {{user.lname}}</h2>
                        <p>{{user.description}}</p>
                    </div>
                    <div class="profile-details">
                        <div class="detail-item">
                            <h3>Phone</h3>
                            <p>{{user.phone}}</p>
                        </div>
                        <div class="detail-item">
                            <h3>Email</h3>
                            <p>{{user.email}}</p>
                        </div>
                        <div class="detail-item">
                            <h3>Status</h3>
                            {% if user.status == true %}
                                <p>Online</p>
                            {% else %}
                                <p>Offline</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="body">

        {% for m in messages %}

            {% if m.recepientId == user.id %}
                <div class="send">
                    <p>{{ m.message|nl2br }} <span id="hour">{{ m.createdAt|date('H:i') }}</span></p>
                </div>
                
            {% else %}
                <div class="receive">
                    <div class="receive-img">
                        <img src="{{ vich_uploader_asset(user, 'imageFile' )}}" alt="{{user.fname}} {{user.lname}}">
                    </div>
                    <p>{{ m.message|nl2br }} <span id="hour">{{ m.createdAt|date('H:i') }}</span></p>
                </div>
            {% endif %}
        {% endfor %}
        

        {# <div class="send">
            <img class="img-chat" src="./img/back.jpg" alt="">
        </div>
        <div class="receive">
            <div class="receive-img">
                <img src="./img/back.jpg" alt="">
            </div>
            <img class="img-chat" src="./img/back.jpg" alt="">
        </div> #}
    </div>
    <div class="footer">
        <div class="emoji">
            <i class="fa-regular fa-face-smile-beam"></i>
        </div>
        <div class="link">
            <i class="fa-solid fa-paperclip"></i>
        </div>
        <div class="form-chat" id="form-chat">
            <form action="{{ path('form.message', {id: user.id}) }}" method="post" id="form-chat" autocomplete="off">
                <input type="text" name="message" placeholder="Tape a message...">
                <input type="hidden" value="{{user.id}}" id="to">
                <input type="hidden" value="{{user_sending.id}}" id="from">
            </form>
        </div>
        <div class="microphone">
            <i class="fa-solid fa-microphone"></i>
        </div>
    </div>
</div>