<div class="profile-back">
    <div class="content-back">
        <div class="content">
            <h1>My Pofile</h1>
        </div>
        {% if user.backImg == '' %}
            {% set img = "img/back.jpg" %}
        {% else %}
            {% set img = user.backImg %}
        {% endif %}
        <div class="profile-img" style="background-image: url('{{ img }}');">
            <img src="{{ vich_uploader_asset(user, 'imageFile')}}" width="35" height="35" alt="{{user.fname}} {{user.lname}}">
        </div>
    </div>
    
    <div class="profile-desc">
        <h2>{{user.fname}} {{user.lname}}</h2>
        <p>{{user.description}}</p>
    </div>
    <div class="profile-details">
        <div class="detail-item">
            <h3>Phone</h3>
            <p>{{user.phone}}</p>
        </div>
        <div class="detail-item">
            <h3>Email</h3>
            <p>{{user.email}}</p>
        </div>
        <div class="detail-item">
            <h3>Status</h3>
            <p>Online</p>
        </div>
    </div>
</div>