{{ form_start(form) }}
    <div class="form-item">
        {{ form_row(form.fname) }}
    </div>
    <div class="form-item">
        {{ form_row(form.lname) }}
    </div>
    <div class="form-item">
        {{ form_row(form.email) }}
    </div>
    <div class="form-item">
        {{ form_row(form.description) }}
    </div>
    <button type="submit"><i class="fa-solid fa-check"></i></button>
{{ form_end(form) }}
